# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example
!.env.test

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md

# playwright artifacts
/playwright-report/
/test-results/
/junit.xml
/e2e/junit.xml

# temp files
/tmp/

# Ignore PM2 logs
.pm2/*.log

# Unused lockfiles
pnpm-lock.yaml
yarn.lock
